@inject PizzaButiken.Services.DishCategoryService DishCategoryService

@{ 
    var dishCategories = DishCategoryService.GetAllDishCategories();
}

<nav class="navbar dishCategories">
    <div class="container">
        <ul class="nav navbar-nav">
            @foreach (var dc in dishCategories)
            {
                <li class="dishCategories"><a class="dishCategories" asp-area="" asp-controller="Home" asp-action="Index" asp-route-dishCategoryId="@dc.DishCategoryId">@dc.Name</a></li>
            }           
        </ul>
    </div>
</nav>
