@model IEnumerable<PizzaButiken.Models.Dish>


@{
    ViewData["Title"] = "PizzaButiken";
}

<nav class="navbar dishCategories">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="dishCategories"><a class="dishCategories" asp-area="" asp-controller="Home" asp-action="Index" asp-route-dishCategoryId="1">Pizza</a></li>
            <li class="dishCategories"><a class="dishCategories" asp-area="" asp-controller="Home" asp-action="Index" asp-route-dishCategoryId="2">Sallad</a></li>
            <li class="dishCategories"><a class="dishCategories" asp-area="" asp-controller="Home" asp-action="Index" asp-route-dishCategoryId="3">Pasta</a></li>
        </ul>
    </div>
</nav>

<form asp-controller="Home" asp-action="ShoppingCartAction" method=Post>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                <button type="submit" name="customize-@item.DishId">Anpassa</button>
                            </td>
                            <td>
                                <button type="submit" name="add-@item.DishId">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                </button>
                            </td>
                        </tr>
                    }
                 </tbody>
             </table>
        </div>

        <div class="col-md-4">
            @{
                Html.RenderPartial("_ShoppingCart");
            }
        </div>
    </div>
</form>
