@model IEnumerable<PizzaButiken.Models.Dish>


@{
    ViewData["Title"] = "PizzaButiken";
}

@{Html.RenderPartial("_DishCategoriesNavBarPartial.cshtml");}

<form asp-controller="Home" asp-action="ShoppingCartAction" method=Post>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                <button type="submit" name="customize-@item.DishId">Anpassa</button>
                            </td>
                            <td>
                                <button type="submit" name="add-@item.DishId">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                </button>
                            </td>
                        </tr>
                    }
                 </tbody>
             </table>
        </div>

        <div class="col-md-4">
            @{
                Html.RenderPartial("_ShoppingCart");
            }
        </div>
    </div>
</form>
