body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.topContainer {
    background-image: url('../images/pizzaBar.jpg');
    height: 195px;
}

.dishCategories{
    color: black !important;
    font-weight: bold !important;
}

.navbar-inverse :hover{
    color: white !important;
}

a:hover{
    color:dimgray !important;
    background-color: transparent !important;
}

.admin{
    background-color: lightgray;
    color: black !important;
    font-weight: bold !important;
}
