@model IEnumerable<PizzaButiken.Models.DishCategory>

@{
    ViewData["Title"] = "Categories";
}
<h2>DishCategories</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="col-md-6">
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-4">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="col-md-2"></td>
                    <td class="col-md-2">
                        <a asp-action="Edit" asp-route-id="@item.DishCategoryId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.DishCategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


