

<div class="form-group">
    <label class="control-label">Card number</label>
    <input class="form-control" />
    @*<span asp-validation-for="PhoneNumber" class="text-danger"></span>*@
</div>
<div class="form-group">
    <label class="control-label">Valid to</label>
    <input class="form-control" />
    @*<span asp-validation-for="PhoneNumber" class="text-danger"></span>*@
</div>
<div class="form-group">
    <label class="control-label">CVV</label>
    <input class="form-control" />
    @*<span asp-validation-for="PhoneNumber" class="text-danger"></span>*@
</div>

