

<nav class="navbar admin">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a class="admin" asp-area="" asp-controller="Dishes" asp-action="Index">Dishes</a></li>
            <li><a class="admin" asp-area="" asp-controller="Ingredients" asp-action="Index">Ingredients</a></li>
            <li><a class="admin" asp-area="" asp-controller="DishCategories" asp-action="Index">Categories</a></li>
        </ul>
    </div>
</nav>



